/* Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */
.navbar {
  background-color: rgb(22, 22, 53);
  height: 10vh;
  z-index: 1;
  position: fixed;
  width: 100vw;
}

.navbar-brand i {
  padding: 7px;
}

.navbar-brand img {
  padding: 3px;
}

.nav-item a:hover {
  color: cyan !important;
}

/* Main Section */
.main_section {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: linear-gradient(#20a4f3, #182b3a);
}

.main_section i {
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 30px;
  bottom: 100px;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 128, 136);
  border-radius: 100%;
  padding: 15px;
}

.main_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.main_section_images {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}

.main_section_images img {
  filter: drop-shadow(5px 5px 5px rgb(0, 14, 13));
}

.main_section_images img {
  border: 5px solid black;
  border-radius: 50px;
}

.icons{
  scroll-behavior: smooth;
}

/* Animation Effect */

.main_section_store {
  animation: fadeIn 5s;
}

.text {
  animation: fadeIn 5s;
}

.contact {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Features */
.features {
  background-image: url(Images/background_image.webp);
  color: white;
  width: 100vw;
  padding: 100px;
}

.feature_text {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.feature_content {
  display: flex;
  margin-top: 90px;
  width: 100%;
  justify-content: space-between;
}

.feature_content p {
  margin-top: 30px;
}
.speed {
  width: 20%;
}

.support {
  width: 20%;
}
.security {
  width: 20%;
}

.feature_content {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* About */
.about {
  margin: 50px;
  height: 80vh;
  width: 100vw;
  padding: 40px;
  font-size: 120%;
  position: relative;
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
  height: 80vh;
  top: 100px;
  position: absolute;
  right: 200px;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
  display: none;
}

.carousel .carousel-item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
  height: auto;
  border: 5px solid black;
  border-radius: 50px;
}

.carousel .carousel-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel-actions button {
  border-radius: 50px;
  background-color: white;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
  margin-left: 20px;
  position: absolute;
  right: 300px;
  bottom: 90px;
}

.carousel .carousel-actions button#carousel-button-next {
  margin-right: 20px;
  position: absolute;
  left: 300px;
  bottom: 90px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Contact */
.contact {
  background-image: url(Images/background_image.webp);
  width: 100%;
  height: 60vh;
  color: white;
  display: flex;
}

.contact_details {
  margin: 40px;
  width: 40%;
  font-weight: 400;
  font-size: 120%;
  position: absolute;
  right: 2px;
}

.contact_details .name {
  display: flex;
  padding: 10px;
}

.contact_details input {
  display: block;
}

.contact_details label {
  display: block;
}

.contact_details .email {
  display: block;
  padding: 10px;
}

.contact_details .message {
  display: block;
  padding: 10px;
}

.contact_details .message input {
  padding-top: 60px;
  width: 550px;
}

.contact_details .submit {
  display: block;
  padding: 10px;
  justify-content: center;
}

.contact_details input {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.contact_header {
  width: 30%;
  padding: 82px;
}

.contact_header {
  letter-spacing: 2.5px;
}
.contact #fname {
  display: block;
  margin-right: 30px;
}

.submit button {
  color: white;
  border: 1px solid white;
  outline: white;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 10px;
}

.submit :hover {
  background-color: white;
  color: black;
}

/* Footer */

.footer {
  height: 30vh;
  width: 100vw;
  margin: 30px;
  display: flex;
  font-size: 20px;
}

.footer_left {
  width: 50vw;
}

.address {
  margin-left: 100px;
}

.copyright {
  margin-top: 10px;
}

.phone {
  width: 21vw;
}
.footer_right {
  width: 50vw;
  flex-direction: column;
  padding: 10px;
  margin-left: 40%;
}

.footer_right img {
  margin-right: 10px;
  margin: 10px;
  width: 150px;
}

.phone_email {
  display: flex;
}

.socialApps_icon i {
  padding: 10px;
}

/* Media Queries */

@media only screen and (max-width: 600px) and (min-width: 400px) {
  .phone {
    width: 36vw;
  }
}
