/* Universal CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar*/
.navbar {
  background-color: #212529 !important;
  color: white !important;
}

.nav-item {
  margin: 0px 10px;
}

.navbar-brand {
  color: white;
  font-size: 25px;
  padding-left: 10px;
}

.navbar-brand:hover {
  color: #14a44d;
}
.nav-link {
  color: white;
  font-weight: 400;
}

.nav-link:hover {
  color: #14a44d;
}

/* Main Section */
.main_section {
  display: grid;
  place-items: center;
}

/* Empty Cart*/
.empty_cart {
  display: block;
}

.empty_cart_text {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  color: black;
}

.empty_cart_text:hover {
  color: #14a44d;
}

.empty_cart_image a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

/* Card */
.card {
  border: solid 1px #14a44d;
}

/* Sort and Filter */
.container-sort {
  display: flex;

  justify-content: space-between;
  margin: 50px auto;
}

#sortBy {
  background-color: rgb(53, 52, 52);
  color: white;
  height: 35px;
  width: 155px;
  border-radius: 5px;
}

.sort-label {
  margin: auto 0px;
  margin-right: 8px;
}

.arrow button {
  height: 35px;
  margin-left: 5px;
  background-color: #212529;
  color: white;
  width: 30px;
  border-radius: 5px;
}

.sort-prod {
  display: flex;
}

.search-prod input {
  border-radius: 5px;
  height: 40px;
  padding-left: 5px;
  background-color: #212529;
  color: white;
  display: list-item;
}

/* Footer */
.footer {
  background-color: #212529;
  color: white;
  font-weight: 400;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 20%;
}

.col:hover {
  color: #14a44d;
}
