@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.calculator {
  background-color: #f2f2f2;
  height: 500px;
  width: 500px;
}

.calculator_input {
  width: 100%;
  padding: 10px;
}

.calculator_input input[type="text"] {
  background-color: #f2f2f2;
  width: 100%;
  height: 50px;
  display: flex;
  text-align: right;
  font-size: 35px;
  border: 0px;
  outline: none;
  font-weight: 500;
}

.calculator_keys .rows button {
  padding: 10px;
  border: 0px;
  outline: none;
  background-color: #f2f2f2;
}

.trigno-func {
  display: flex;
}
.dropdown{
  position: relative;
}

.dropdown ul{
  display:none;
  position: absolute;
  list-style: none;
}

.dropdown:hover ul{
  display: block;
}
